In [ ]:
import pandas as pd
from pyspark.sql import SparkSession
import boto3
import os

In [ ]:
spark.stop()

In [ ]:

spark = SparkSession \
.builder \
.config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
.config("spark.hadoop.fs.s3a.impl","org.apache.hadoop.fs.s3a.S3AFileSystem") \
.config("spark.hadoop.fs.s3a.awsAccessKeyId", '') \
.config("spark.hadoop.fs.s3a.awsSecretAccessKey", '') \
.getOrCreate()

In [ ]:
df_population = spark.read.format('csv').load('s3a://data-climate/population_total.csv', header='true')

In [1]:
import boto3
import os

In [3]:


s3 = boto3.resource(
    service_name='s3',
    region_name='us-west-2',
    aws_access_key_id='',
    aws_secret_access_key=''
)

In [4]:
s3 = boto3.resource('s3')
bucket = s3.Bucket('data-climate')

In [5]:
for object_summary in bucket.objects.filter(Prefix=""):
    print(object_summary.key)

country.csv
country.zip
temperature_country.csv
temperature_country.zip

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('temperature_state.csv', delimiter=';')

In [5]:
df.head()

    date_time  avg_temperature state_name country_name
0  1855-05-01           25.544       Acre       Brazil
1  1855-06-01           24.228       Acre       Brazil
2  1855-07-01           24.371       Acre       Brazil
3  1855-08-01           25.427       Acre       Brazil
4  1855-09-01           25.675       Acre       Brazil

In [6]:
df.to_json('temperature_state.json')